@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:light");

$font-stack: 'Open Sans', Helvetica, sans-serif;
$font-stack-name: 'Roboto Condensed', Helvetica, sans-serif;
$font-style-name: 'Light';

$primary-color: #000000ad;
$background-color: #ffffff;
$link-color: #000099;
$link-color-hover: #0066ff;

$content-info-top: 30%;
$content-info-left: 15%;

$button-size: 80px;
$button-border-width: 2px;

html,
body {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: $background-color;

	font: 100% $font-stack;
	color: $primary-color;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $link-color;

	&:hover {
		color: $link-color-hover;
	}
}

.content_info {
	position: absolute;
	width: 75%;
	top: $content-info-top;
	left: $content-info-left;

	h1 {
		font-family: $font-stack-name;
		font-style: $font-style-name;
		font-size: 5em;
	}

	a {
		border-bottom: 1px dotted;

		&:hover {
			border-bottom: none;
		}
	}
}

.links {
	margin: 2em 0em 2em 0em;

	&:after {
		content: "";
		clear: both;
	}
}

.icon {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $button-size;
	height: $button-size;
	border-radius: 50%;
	border: $button-border-width solid;
	font-size: 2em;
	float: left;
	margin-right: 0.5em;
}

#canvas {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}